rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && (request.auth.token.email == "tuijbialnajah@gmail.com" || request.auth.token.email == "nadiaparveen1526@gmail.com");
    }

    match /{document=**} {
      allow read, write: if false;
    }
    
    match /groups/{groupId} {
      allow get: if resource.data.isPublic == true || isAdmin();
      allow list: if resource.data.isPublic == true || isAdmin();
      // Allow writes for admin
      allow write: if isAdmin();
    }
  }
}
